ul {
    display: flex;
    overflow: scroll;
    padding-left: 14px;
}
figure {
    margin: 0 0 1rem;
    padding: 12px;
    position: relative;
    border: solid;
    /* background-color: honeydew */
}
#saveNote {
    border-width: medium;
    padding: 3px;
    padding-right: 5px;
    width: 132px;
    float: right;  
}
#saveArticle {
    border-width: medium;
    padding: 3px;
    padding-right: 5px;
    width: 132px
}
#deleteArticle {
    border-width: medium;
    padding: 3px;
    padding-right: 5px;
    width: 132px
}
#viewNote {
    border-radius: 0;
    padding: 3px;
    padding-right: 4px;
}
.jumbotron {
    margin: 0px;
    background-image: url(../img/Sports-PNG-Image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: crimson
}
#bodyinput {
    float: left;
}
body, .storyButton {
    background-color: crimson
}

h3 {
    color: black;
    text-decoration: underline
}
img {
    padding: 0px;
    margin: 0px;
}